# Virtual Environment
venv/
.venv/
env/
ENV/

# Credentials & Session files
.env
*.session
*.session-journal

# Python Cache
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.ipynb_checkpoints/

# macOS files
.DS_Store
.AppleDouble
.LSOverride

# Logs
*.log
*.err.log

# Scratch files
scratch/
